


{% block body %}

   {# 
   <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 100%; font: 18px/1.5 sans-serif }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper"><h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/INFORMATIQUE/PRATIQUE/SYMFONY/gare_routiere_simplifier/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/INFORMATIQUE/PRATIQUE/SYMFONY/gare_routiere_simplifier/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul> #}
    <div class="wrapper" style="  height:220px; background-color: grey;  font-family: 'Caveat', cursive; text-shadow: 2px 2px 5px black;  text-align: center;">
      <h1>
      <div style= "color:white; font-size: 55px; letter-spacing: 7px " > 

       GARE ROUTIERE KOFIMANGA
       <img src="assets/img/gare.png ">
        
       </div> 
      </h1>
           
      
           

                <h3>
                <div  style=" color:grey; letter-spacing: 3px; font-size: 30px">

                 La Gare Routiere KOFIMANGA avec leur transport first-premium gate les voyageur pendant tout le voyage,...  des services de hautes qualités,...
                 Avec  nous  
                <h3>
                  "VOYAGER EN TOUTE SECURITE"
                </h3>
                
           

    <a href ="{{path('app_login' )}}" class="btn "  style="color:blue" > Se connecter</a>

                </div>
                 
                 </h3>
                
</div>

 

  

{% endblock %}
