{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Create new Vehicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a href="{{ path('app_vehicule_index') }}">back to list</a>
{% endblock %}
