{% extends 'base.html.twig' %}

{% block title %}Chauffeur index{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Chauffeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chauffeur in chauffeurs %}
            <tr>
                <td>{{ chauffeur.id }}</td>
                <td>{{ chauffeur.nom }}</td>
                <td>
                    <a href="{{ path('app_chauffeur_show', {'id': chauffeur.id}) }}">show</a>
                    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_new') }}">Create new</a>
     </div>
  </main>
{% endblock %}
