{% extends 'base.html.twig' %}

{% block title %}PAGE D'ACCEUIL{% endblock %}

{% block body %}
<body>
<!-- ======= Header ======= -->
  

    

  <main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 

   


    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Acceuil</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
 </div>
 <!-- End #main -->
     <div class="wrapper" style="  height:220px;   font-family: 'Caveat', cursive; text-shadow: 2px 2px 5px black;  text-align: center;">
      <h1>
      <div style= "color:black; font-size: 40px; letter-spacing: 7px " > 

       BIENVENUE DANS L'APPLICATION
       <img src="assets/img/images.jpeg ">
        
       </div> 

  
 </main>
</body>
{% endblock %}
