{% extends 'base.html.twig' %}

{% block title %}Edit Passager{% endblock %}

{% block body %}
            <main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Edit Passager</h1>

    {{ include('passager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_passager_index') }}">back to list</a>

    {{ include('passager/_delete_form.html.twig') }}
     </div>
  </main>
{% endblock %}
