{% extends 'base.html.twig' %}

{% block title %}Passager index{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Passager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CIN</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passager in passagers %}
            <tr>
                <td>{{ passager.id }}</td>
                <td>{{ passager.nom }}</td>
                <td>{{ passager.prenom }}</td>
                <td>{{ passager.CIN }}</td>
                <td>
                    <a href="{{ path('app_passager_show', {'id': passager.id}) }}">show</a>
                    <a href="{{ path('app_passager_edit', {'id': passager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_passager_new') }}">Create new</a>
    </div>
  </main>
{% endblock %}
