{% extends 'base.html.twig' %}

{% block title %}New Passager{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Create new Passager</h1>

    {{ include('passager/_form.html.twig') }}

    <a href="{{ path('app_passager_index') }}">back to list</a>
     </div>
  </main>
{% endblock %}
