{% extends 'base.html.twig' %}

{% block title %}Passager{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Passager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passager.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ passager.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ passager.prenom }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ passager.CIN }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_passager_index') }}">back to list</a>

    <a href="{{ path('app_passager_edit', {'id': passager.id}) }}">edit</a>

    {{ include('passager/_delete_form.html.twig') }}
     </div>
  </main>
{% endblock %}
