{% extends 'base.html.twig' %}

{% block title %}Edit Destination{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Edit Destination</h1>

    {{ include('destination/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_destination_index') }}">back to list</a>

    {{ include('destination/_delete_form.html.twig') }}
     </div>
  </main>
{% endblock %}
