{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Nos destinations</h1>

    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Depart</th>
                <th>Arriver</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.id }}</td>
                <td>{{ destination.Depart }}</td>
                <td>{{ destination.Arriver }}</td>
                <td>{{ destination.Prix }}</td>
                <td>
                    <a href="{{ path('app_destination_show', {'id': destination.id}) }}">show</a>
                    <a href="{{ path('app_destination_edit', {'id': destination.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_destination_new') }}">Create new</a>
     </div>
  </main>
{% endblock %}
