{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
<main id="main" class="main" >
  
    <div class="conten-wrapper" style="min-height: 213px"> 
    <h1>Destination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ destination.id }}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{{ destination.Depart }}</td>
            </tr>
            <tr>
                <th>Arriver</th>
                <td>{{ destination.Arriver }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ destination.Prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_destination_index') }}">back to list</a>

    <a href="{{ path('app_destination_edit', {'id': destination.id}) }}">edit</a>

    {{ include('destination/_delete_form.html.twig') }}
     </div>
  </main>
{% endblock %}
